<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Greetings.GreetingServiceType" behaviorConfiguration="GreetingServiceTypeBehaviors">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8089/Greetings/"/>
					</baseAddresses>
				</host>

				<endpoint address="GreetingService" binding="basicHttpBinding" contract="Greetings.IGreetingService"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="GreetingServiceTypeBehaviors">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>